<div ng-app = "myApp" ng-controller= "myCtrl">

	<div class="tabs">
		<div class="tabname" [ngClass]="{ 'selected': !mainform, 'unselected': mainform  }" (click)="onSelectTime()">Search by Time</div>
		<div class="tabname" [ngClass]="{ 'selected': !subform, 'unselected': subform  }" (click)="onSelectRoom()">Search by Room</div>
	</div>
	<div class="formdiv">

		<form [hidden]="mainform" id="mainform" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
			<!-- Input types for form #1 -->		
				<!-- location-->
				<div class="row">
					<div class="side label" for="selectLocation" >Location</div> 
					<div class="side">
						<select id="selectLocation" class="selectLocation"
								[ngModel]="city" name="selectCity"
								(ngModelChange) = "city = $event"
								(change)="locationChanged()">
							<option *ngFor="let opt of cityOptions" [ngValue]="opt.id">{{opt.name}}</option>
						</select>
					</div>
				</div>

				<!-- building-->
				<div class="row" *ngIf="buildingOptions.length > 0" >
					<div class="side label" for="selectLocation" >Building</div> 
					<div class="side">
						<select id="selectBuilding" class="selectBuilding"
								[ngModel]="building" name="selectBuilding"
								(ngModelChange) = "building = $event">
								<option [ngValue]="-1" selected>---</option>
								<option *ngFor="let opt of buildingOptions" [ngValue]="opt.id">{{opt.name}}</option>
						</select>
					</div>
				</div>
				<!-- date-->
				<div class="row">
					<div class="side label" for="selectDate" >Date</div> 
					<div class="side">
						<input type="date" 
								   [ngModel]="dateFrom | date:'yyyy-MM-dd'" name="date"
								   (ngModelChange)="dateFrom = $event"
								   (change)="cacheLectures()">
					</div>
				</div>

				<!-- session-->
				<div class="row">
					<div class="side label" for="selectSession" >Session</div> 
					<div class="side">
						<select id="selectSession" name="session" [(ngModel)]="sessions" (ngModelChange) = "onSessionChange(sessions)">
									<option value="morning">Morning</option>
									<option value="afternoon">Afternoon</option>
									<option value="evening">Evening</option>
									<option value="allday">All Day</option>
						</select>
					</div>
				</div>

				<!-- fromHours-->
				<div class="row">							
					<div class="side label" for="from">From</div> 				

					<div class="side">
					<input id="from" class="nbox" type="number" name="fromHours" min=0 max=23  required
						   [(ngModel)]="fromHours" 
						   (ngModelChange)="fromHours = $event">
					</div>
					<!-- fromMinutes-->
					<div class="side">
					<input class="nbox" type="number" min=0 max=59  required
						   [(ngModel)]="fromMinutes" name="fromMinutes"
						   (ngModelChange)="fromMinutes = $event">
					</div>
				</div>	
				<!-- toHours-->
				<div class="row">
						<div class="side label" for="to">To</div> 

						<div class="side">
						<input id= "to"  class="nbox" type="number"min=0 max=23  required
							   [(ngModel)]="toHours" name="toHour"
							   (ngModelChange)="toHours = $event">
						</div>
						<!-- tominutes-->
						<div class="side">
						<input class="nbox" type="number" min=0 max=59 required
							   [(ngModel)]="toMinutes" name="toMin"
							   (ngModelChange)="toMinutes = $event">
						</div>
				</div>

				<div class="row" align="center">
					<input class="button" type="submit" name="rex">
				</div>
		</form>

		<form [hidden]="subform" id="subform" #r="ngForm" (ngSubmit)="onSubSubmit(r)" novalidate>		
			<div class="row">
				<div class="side label" for="selectLocation1" >Location</div> 
					<div class="side">
						<select id="selectLocation1" class="selectLocation"
								[(ngModel)]="selcity" name="selectByCity"
								(ngModelChange)="setCityOptions()" >
							<option *ngFor="let opt of cityOptions" [ngValue]="opt.id">{{opt.name}}</option>
						</select>
					</div>
			</div>

			<div class="row">
				<div class="side label" for="selectDate1" >Date</div> 
				<div class="side">
					<input type="date" 
							   [ngModel]="seldateFrom | date:'yyyy-MM-dd'" name="date"
							   (ngModelChange)="dateFrom = $event"
							   (change)="cacheLectures()">
				</div>
			</div>			

			<div class="row">	
				<div class="side label" for="selectRoomNo">Room</div> 
				<div class="side">
					<select id="selectRoomNo" name="room" [(ngModel)]="roomNum" class="selectRoomNo">
						<option *ngFor="let rm of rooms" value="{{rm.name}}">{{rm.name}}</option>
					</select>
				</div>
			</div>

			<div class="row" align="center">
				<input class="button" type="submit" name="">
			</div>			
		</form>
	</div>
	
	<!-- Results -->

	<div class="allblock" align="center">
		<div class="firstblock" *ngIf=" (freeRooms | async)  && (mainform == false)">
			<div>
				<div class="resblock" >				
					<div style="background: #7986CB;">
						<div class="headitem bold">From</div>
						<div class="headitem bold">To</div>
						<div class="headitem bold">Room No.</div>
					</div>
			
					<div class="striped" *ngFor="let fr of freeRooms | async" >
						<div class="headitem">{{fr.getFromTimeString()}} </div>
						<div class="headitem">{{fr.getToTimeString()}} </div>
						<div class="headitem" >{{fr.Room.name}} </div>
					</div>
				</div>
			</div>				
		</div>

		<div class="firstblock" *ngIf = "subform == false">
			<div>
				<div class="resblock" *ngIf= " newfreeRooms | async ">				
					<div style="background: #7986CB;">
						<div class="headitem bold">From</div>
						<div class="headitem bold">To</div>
						<div class="headitem bold">Room No.</div>
					</div>
				
					<div *ngFor="let fr of newfreeRooms | async">
						<div class="striped" *ngIf = "fr.Room.name === roomNum" >						
							<div class="headitem">{{fr.getFromTimeString()}} </div>
							<div class="headitem">{{fr.getToTimeString()}} </div>
							<div class="headitem">{{fr.Room.name}} </div>													
						</div>
					</div>
				</div>	
			</div>				
		</div>
	</div>
</div>
