*{
	padding: 0px;
	margin: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #DCDCDC;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #DCDCDC;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #DCDCDC;
}
:-moz-placeholder { /* Firefox 18- */
  color: #DCDCDC;
}

.nbox{
	width: 100px;

}

table{
	margin: 5px ;
	padding-left: 10px;
	padding-right: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: grey;
}

input, select{

	margin: 10px;
	border-radius: 5px;
	border: 1px solid  lightgrey;
	padding: 5px 5px 5px 5px;
}


label{

	font-size: 18px;
}

select {
	min-width: 100%;
	border-color:  lightgrey;
	padding: 5px 5px 5px 5px;

}

.selectDate{
	min-width: 100%;
}

.button{
	
	border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	 background: #7986CB 
}

.selectLocation1{
	min-width: 95%;
	padding: 5px 5px 5px 5px;
}

input{
	border: 1px solid #7986CB;
}

input[type=number]{
    width: 85px;
}

input[type=date]{
	 width: 210px;
}

input[type=text]{
	width: 210px;
}

select{
	width: 200px;
	border: 1px solid #7986CB;
}

input[type="submit"]{
	width: 200px;
	margin: 10px auto;
}

/* new adds */

h2{
	font-family: ;
}

.formdiv{
	width: 500px;
	border: 0px solid red;

	background: white;
	margin: 10px auto;
}

form{
	max-width: 100%;
	border: 1px solid #7986CB;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	margin: 10px auto;
	padding: 10px 10px 10px 20px;
}

.allblock{
	width: 500px;
	margin: 20px auto;
	border: 0px solid green;
}

.side{
	display: inline-block;
	vertical-align: top;
}

.label{
	height: 25px;
	width: 100px;
	border: 0px solid red;

	margin-top: 12px;
	font-family: 'Roboto', sans-serif;
}

.resblock{
	width: 500px;

	border: 1px solid #7986CB;
/*	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;*/
}

.headitem{
	width: 100px;

	display: inline-block;
	vertical-align: top;

	margin: 10px 15px 10px 10px;
	border: 0px solid red;

	text-align: left;
}

.bold{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;

	border-bottom: 0px solid lightgrey;
	padding: 10px 0px 10px 5px; 

	text-align: left;
	color: white;
}

.striped{
	height: auto;
	background: linear-gradient(180deg, whitesmoke 50%, #dcdcdc 100%);
	border-bottom: 1px solid lightgrey;
}

.tabs{
	width: 500px;
	height: 40px;
	margin: 0px auto;

	text-align: center;
	line-height: 40px;
	font-size: 0px;
	font-family: 'Roboto', sans-serif;
}

.tabname{
	display: inline-block;
	vertical-align: top;
	width: 49%;
	height: 100%;
	font-size: 16px;

	border-bottom: 1px solid lightgrey;

	border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;

	border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;

	background: whitesmoke;
	margin: 0px auto;
	cursor: pointer;
}

.selected{
	background: white;

	border-top: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	border-left: 1px solid lightgrey;
	border-bottom: 0px solid lightgrey;
}

@media only screen and (max-width: 550px) {
	.formdiv{
		width: 400px;
	}

	.allblock{
		width: 400px;
	}

	.resblock{
		width: 400px;
	}

	.tabs{
		width: 400px;
	}
}

@media only screen and (max-width: 450px) {
	select{
		width: 120px;
	}

	input[type="number"]{
		width: 45px;
	}

	input[type="date"]{
		width: 128px;
	}

	.label{
		width: 50px;
		font-size: 12px; 
		margin-top: 15px;
	}

	.formdiv{
		width: 250px;
	}

	.allblock{
		width: 250px;
	}

	.resblock{
		width: 250px;
	}

	.bold{
		font-size: 14px;
		padding: 5px 0px 2px 2px; 

	}

	.headitem{
		width: 70px;
		border: 0px solid red;
		margin: 10px 3px 10px 1px;
	}

	.tabs{
		width: 250px;
	}

	.tabname{
		font-size: 14px;
	}
}



