<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
	<div class="headimg">
		<img src="https://image.ibb.co/ni07Kb/safari_1.png" style="width:100%; height:100%;">
	</div>
 	<div class="head"><h1 style="text-align:center;">{{title}}</h1></div>
</div>

<router-outlet></router-outlet>
