*{
	margin: 0px;
	padding: 0px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

.header{
	height: auto;
	min-height: 150px;
	background: #7986CB ;
    color:floralwhite;

    padding: 30px 80px;
    margin-bottom: 20px;

    text-align: center;
}

.headimg{
	width: 80px;
	height: 80px;

	
	margin-top: 30px;
	margin-right: 15px;
	margin-left: -10px;

	display: inline-block;
	vertical-align: top;

}

.head{
	margin-top: 55px;

	display: inline-block;
	vertical-align: top;
}

h1{
	font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 700px) { h1{font-size: 32px;} }

@media only screen and (max-width: 600px) { h1{font-size: 26px;} }

@media only screen and (max-width: 500px) {

	.headimg{
		height: 80px;
		width: 80px;

		margin-left: 20px;
	}

	h1{
		font-size: 22px;
	}
}