<h3>Here are some helpful links for developing: </h3>
<ul>
  <li>
    <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
  </li>
  <li>
    <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
  </li>
  <li>
    <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
  </li>
</ul>
